#bodyhome{
  text-align: justify;
  background-image: url("immagini/sfondohome1.jpg");
  background-size: cover;
}
#bodydiscografia{
  /*background-color: #c396d5;*/
  text-align: justify;
  background-image: url("immagini/sfondodischi.jpg");
  background-size: cover;
  backdrop-filter: blur(10px);
  color: white;
}
#bodyfestival{
  /*background-color: #008080;*/
  text-align: justify;
  background-image: url("immagini/sfondo.jpg");
  background-size: auto;
  background-repeat: repeat;
  color: white;
}
h1{
  text-align: center;
}
h2{
    text-align: center;
  }
h3{
    text-align: center;
  }
h4{
    text-align: left;
  }
.position-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.title-align{
  text-align: left;
}
td {
  padding-right: 40px; /* Imposta il padding tra le colonne */
  text-align: justify;
}
